@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #dd499d;
    font-family: 'Maven Pro', sans-serif;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    margin: 0px 150px;

}

#img{
    width: 12em;;
}
#home{
    font-weight: bold;
    text-decoration: underline;
       
}


header {
    width: 100%;
    height: 25%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 1.5em;
    margin: 35px 0;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */

}

nav li {
    display: inline;
    margin: 15px;
    font: normal;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.botao {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: .8em 2.5em;
    font-weight: bold;
    color: var(--primary-color);
    transition: 0.7s;

}

.botao:hover {
    color: white;
    background-color: var(--primary-color);
    transition: 0.5s;
}

.botao2:hover{
    font-weight: bold;
    text-decoration: underline;
    
}

.principal {
    color: var(--primary-color);
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 100px;
}

.people-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.imagem-homem {
    align-items: right;
    width: 750px;
    height: 750px;
}

.texto-principal {
    margin-top: 70px;
    width: 100%;
    color: #230F0F;
    font-weight: 800;

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 90px;
    text-align: left;
    line-height: 135%;
}

.texto-secundario {
    color: #230F0F;
    opacity: 0.8;
    font-weight: 500;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 26px;
    line-height: 165%;
}

.explorer-path{
    width: 100%;
    text-align:left;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 8%;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.botao3{
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    color: white;
    transition: 0.7s;   
    background-color: var(--primary-color);
}
.botao3:hover {
    color:var(--primary-color);
    background-color: white;
    transition: 0.5s;
}
.imagem-perfil{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-flex;
    
}
.container-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 340px;
}
.class-marcas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4em;
    margin: 100px 0;
    
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.class-marcas h2 {
    line-height: 1.5;
    font-weight: 700;
    color: #230F0F;
}
.container-SecondPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 150px;
}

.container-texto h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
    color: #230F0F;
}

.container-texto p {

}

.container-marcas {
    display: flex;
    justify-content: space-between;
}

.container-marcas img {
    height: 50px;
    margin: 0px 40px;
}